<ul class="nav">
    <!-- <li role="presentation"><a routerLink="user-list" >UserList</a></li>      -->
    <!-- <li role="presentation"><a routerLink="product-list" >ProductList</a></li> -->
    <!-- <li role="presentation"><a routerLink="AddInventory" >AddInventory</a></li> -->
    <li role="presentation"><a routerLink="AddMessage" >AddMessage</a></li>
    <!-- <li role="presentation"><a routerLink="message-list" >Messages</a></li> -->
    <li role="presentation"><a routerLink="profile">Profile</a></li>
    <li role="presentation"><a routerLink="message-list" >Messages</a></li>
</ul> 

 