<h1>Login Form</h1>

<div class="container">
<form #loginForm="ngForm" (ngSubmit)="Onsave()" >
    <div class="container">
    <label for="Shopno"><b>Shop Number</b></label>
    <input type="text" id="Shopno" name="Shopno" placeholder="Enter Shop number" [(ngModel)]="this.userService.returningUser.Shopno"/><br/>

    <label for="password"><b>Password</b></label>
    <input type="password" id="password" name="password" placeholder="Enter password"  [(ngModel)]="this.userService.returningUser.password"/><br/>
	
    <button type="submit" >Login</button>
    <button type="button" (click)="resetForm()">Reset</button>
    </div>
</form>

</div> 